{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 mb-5">
    <h2>เกี่ยวกับเรา</h2>
    
    <div class="card p-4 shadow border-0">
        <div class="card-body">
            <h5 class="card-title text-primary">ความเป็นมาของรายวิชา ICT12367</h5>
            <p class="card-text">รายวิชา ICT12367 คณะเทคโนโลยีสารสนเทศ มหาวิทยาลัยศรีปทุม (SPU) มุ่งเน้นการเสริมสร้างความรู้และทักษะพื้นฐานทางด้านเทคโนโลยีสารสนเทศและการจัดการข้อมูล</p>
            <p class="card-text">เพื่อให้นักศึกษาสามารถนำความรู้ไปประยุกต์ใช้ในการแก้ปัญหา พัฒนาระบบ และต่อยอดในการทำงานจริงในยุคดิจิทัลได้อย่างมีประสิทธิภาพ</p>
            <p class="card-text">เว็บไซต์นี้ถูกจัดทำขึ้นเพื่อเป็นส่วนหนึ่งของการศึกษารายวิชา โดยเป็นระบบจำลองสำหรับการจัดเก็บและแสดงผลข้อมูลประชากรผ่านระบบอินเทอร์เน็ต</p>
            

        </div>
    </div>
</div>
{% endblock %}